@charset "UTF-8";
#map{
    width: 90%;
    height: 500px;
    margin: 0 auto;
}

#header {
	font-size: 50px;
	font-family: 'Josefin Slab', serif;

} 

#latlonwgs{
	border:0;
	background-color:floralwhite;
	font-size: 15px;
}

#footer {
	font-size: 17px;
	position: fixed;
	right: 0px;
} 
